# Visual Studio (MFC)
.vs/
MFC/x64/
MFC/Debug/
MFC/Release/
*.user
*.suo
*.db
*.ipch

# Python (Flask)
Flask/venv/
Flask/__pycache__/
*.pyc
.env

# React (WebUI)
WebUI/node_modules/
WebUI/dist/
.eslintcache

# 기타
.DS_Store
Thumbs.db